<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome Our Home</h1>
    <h1>{{age}}</h1>
    <h1>{{country}}</h1>
    <!--conditional statement
    {% if age >= 20 %}
    <h4>You will get driving license</h4>
    {% elif age >= 10 and age <= 19 %}
    <h4>You will not get driving license</h4>
    {% else %}
    <h4>You're a child</h4>
    {% endif %}
    -->
    <h1>{{ lst | join:" - " }}</h1>
    <h1>{{ birthday | date:"D d M Y" }}</h1>
    <h1>{{ lst | length }}</h1>
    <h1>{{'Happy coding. Python is fun.' | truncatewords:2}}</h1>
    <h1>{{"Python is Fun" | cut:" "}}</h1>

    <!--For loop-->
    {% for i in course %}
    <h2>{{i.id}} {{i.name}} {{i.fee}}</h2>
    {% endfor %}
    <script src="app.js"></script>
  </body>
</html>
